.portlet-currency-converter .conversion-data .currency-data {
  text-align: center; }
  .portlet-currency-converter .conversion-data .currency-data .currency-header {
    display: block;
    font-weight: bold; }
.portlet-currency-converter .conversion-graph .currency-graph {
  border: 1px solid #DDD;
  padding: 5px; }
.portlet-currency-converter .form input[type="text"] {
  margin-bottom: 0;
  width: auto; }
.portlet-currency-converter .form .control-group {
  margin-bottom: 0; }
.portlet-currency-converter .form .field-wrapper {
  margin-bottom: 10px; }
  .portlet-currency-converter .form .field-wrapper select {
    width: auto; }
@media (max-width: 767px) {
  .portlet-currency-converter .form .btn {
    margin-bottom: 10px; } }

